body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}

/* Movie Poster Styling */
.moviePic {
    height: 300px;
    width: 220px;
    opacity: 0.9;
    display: block;
    margin: 50px auto;
    border-radius: 10px;
}

/* Movie Description Styling */
.movieDetail {
    position: relative;
    top: 20px;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
